@import './../../constants/variables.scss';

/* navbar */
.navbar {
    background-color: $unicaan;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
}
a>i:hover {
    transition: all .4s;
    color: #fde9d1;
}
.top-search-input {
    background-color: $unicaan-lighter;
    border: none;
    box-shadow: none;
    // color: white;
    // width: 22rem;
    transition: all .4s;
}
.top-search-input:focus {
    background-color: whitesmoke;
}
.top-search-button {
    background-color: $unicaan-lighter;
    border: none;
    box-shadow: none;
    transition: all .4s;
    margin-left: -3px;
}
.top-search-btn-hover {
    background-color: whitesmoke;
    margin-left: -3px;

}

/* end of navbar */