<!-- *********************************section 1***************************** -->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-7">
                <div class="banner py-4 my-5 ml-2">
                    <h1 class="display-2 text-center">It is not about you,</h1>
                    <h1 class="display-2 text-center">It is about us</h1>
                    <button class="started mt-4 h3" routerLink="/unicaan/signup">Get Started</button>
                    <p class="lead">Already have an account?
                        <a routerLink="/unicaan/login">Log in</a>
                    </p>
                </div>
            </div>
            <div class="col-sm-5 col-10">
                <div class="image-container">
                    <img src="./../../../assets/landing/17.jpg" class="side-image" alt="unicaan">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- *********************************end of section 1***************************** -->

<!-- *********************************section 2***************************** -->
<section class="bg-light p-5">
    <div class="container-fluid">

        <div class="row">
            <div class="col text-center mb-3">
                <h1 class="connect display-3">Easy to connect</h1>
                <p class="lead text-secondary">Here it is easy to create groups, participate and engaged with your
                    circle</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 text-center col-sm-10 mx-auto mb-4">
                <i class="fa fa-child fa-5x mb-2" aria-hidden="true"></i>
                <h1 class="text-secondary">Simple</h1>
                <p class="text-muted my-3">It is etremely simple to use. content content content content content content
                    content content</p>
                <a href="" class="btn btn-outline-warning">Learn more</a>
            </div>
            <div class="col-lg-4 text-center col-sm-10 mx-auto mb-4">
                <i class="fa fa-rocket fa-5x mb-2" aria-hidden="true"></i>
                <h1 class="text-secondary">Speed</h1>
                <p class="text-muted my-3">you can connect people quickly. content content content content content
                    content content content</p>
                <a href="" class="btn btn-outline-warning">Learn more</a>
            </div>
            <div class="col-lg-4 text-center col-sm-10 mx-auto mb-4">
                <i class="fa fa-cogs fa-5x mb-2" aria-hidden="true"></i>
                <h1 class="text-secondary">customizable</h1>
                <p class="text-muted my-3">Highly customizable. content content content content content content content
                    content</p>
                <a href="" class="btn btn-outline-warning">Learn more</a>
            </div>
        </div>
    </div>
</section>
<!-- *********************************end of section 2***************************** -->

<!-- *********************************section 3***************************** -->
<section class="p-3 mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <h2 class="display-4 text-center font-weight-bold">Add tag and get engaded with your circle</h2>
                </div>
                <p class="lead text-muted text-center">No more waiting for invite confrimation. No more Contact
                    searching. content
                    content content content content content content content content content content content content.
                </p>
            </div>
            <div class="col-sm-6 py-4">
                <div class="row">
                    <div class="tag1 mb-3 ml-md-5">
                        <span style="font-size: 2.7rem;" class="badge badge-pill badge-secondary">Friends</span>
                        <span style="font-size: 2.7rem;" class="badge badge-pill badge-secondary ml-4">Colleague</span>
                    </div>
                    <div class="tag2 mb-3 float-md-none">
                        <span style="font-size: 2.7rem;" class="badge badge-pill badge-secondary">Family</span>
                        <span style="font-size: 2.7rem;"
                            class="badge badge-pill badge-secondary ml-4">Neighborhood</span>
                    </div>
                    <div class="tag3 mb-3 ml-md-5">
                        <span style="font-size: 2.7rem;" class="badge badge-pill badge-secondary">Interests</span>
                        <span style="font-size: 2.7rem;" class="badge badge-pill badge-secondary ml-4">Alumni</span>
                    </div>
                </div>
                <div class="row justify-content-center my-2">
                    <a href="" class="lead text-muted">And much more ></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- *********************************end of section 3***************************** -->

<!-- *********************************section 3***************************** -->
<section class="p-5 m-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 enroll">
                <button class="started-atlast mt-4 h3" routerLink="/unicaan/signup">Come on in</button>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <h2 class="share-thoughts display-3 text-center">Share your thoughts as you wish</h2>
                </div>
                <p class="lead text-muted text-center">You can share your thoughts in group either in a privately or
                    publicaly.
                    And put posts in any types you want. Be it text, image, video, audio, gif and much more.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- *********************************section 3***************************** -->