<div class="container-fluid my-3">
    <div class="row">
        <div class="col mt-3">
            <ul class="nav">
                <li class="nav-item head-nav-menu" *ngFor="let tag of tags">
                    <a href="" class="nav-link text-secondary">{{tag}}</a>
                </li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="row mt-4 align-items-center">
        <div class="col-md-7">
            <div class="card rounded">
                <div class="card-body">
                    <div class="status-field">
                        <div class="status-input">
                            <input type="text" class="form-control" placeholder="What do you want to share ?">
                        </div>
                        <a href="">
                            <img src="./../../../../assets/U.jpg" class="rounded" width="50">
                        </a>
                    </div>
                    <ul class="nav nav-pills nav-fill mt-2">
                        <li class="nav-item p-3">
                            <a class="nav-link post-item" href="#">
                                <h6>Create Event</h6>
                            </a>
                        </li>
                        <li class="nav-item p-3">
                            <a class="nav-link post-item" href="#">
                                <h6>Share media file</h6>
                            </a>
                        </li>
                        <li class="nav-item p-3">
                            <a class="nav-link post-item" href="#">
                                <h6>write blog post</h6>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="sugg-circle-section">
                <ul class="nav flex-column" *ngFor="let circle of suggestionCircles">
                    <li class="nav-item my-1">
                        <div class="sugg-circle-bar rounded">
                            <a href="" class="px-2 py-1 nav-link">
                                <img [src]="circle.img" alt="profile-Pic" class="rounded-circle"
                                    width="50" height="50">
                            </a>
                            <h4 style="width: max-content" class="px-2 py-1 text-dark">{{circle.title}}</h4>
                            <button class="btn px-2 py-1">{{circle.type}}</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
</div>
