<section class="p-5">
    <div class="container">
        <div class="row">
            <!-- <div class="d-flex flex-md-row flex-column-reverse"> -->
                <div class="col-md-6 text-center">
                    <h1 class="welcome display-2">Get involved in your cirlce</h1>
                    <h2 class="display-4 text-secondary">Get to know what is happening inside</h2>
                </div>
                <div class="col-md-6 px-5">
                    <div class="justify-content-center align-items-center">
                        <h1 class="text-secondary text-center font-weight-bold mb-4 mt-2">Welcome Back !</h1>
                        <form>
                            <div class="form-group">
                                <label for="emailOrUsername">Email or Username</label>
                                <input type="text" id="emailOrUsername" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" id="password" class="form-control"
                                    aria-describedby="passwordHelp">
                                <small id="passwordHelp" class="form-text text-muted mt-2">
                                    <a href="" class="text-muted">Forget password ?</a>
                                </small>
                            </div>
                            <button type="submit" class="btn btn-block font-weight-bold"
                             (click)="onSubmit()">Log in</button>
                        </form>
                        <p class="lead mt-3">Not yet created an account?
                            <a routerLink="/signup">Sign up</a>
                        </p>
                    </div>
                </div>
            <!-- </div> -->
        </div>
    </div>
</section>