<div class="container-fluid">
    <div class="card">
        <div class="card-header">Hot Discussion</div>
        <div class="card-body">
            <p class="lead">Trending topics will be listed down here. On clicking the item user will be navigate to the specific circle</p>
            <hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr>
        </div>
    </div>
    <div class="card">
        <div class="card-header">Chat window</div>
        <div class="card-body">
            <p class="lead">as usual chating window</p>
            <hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr>
        </div>
    </div>
    <div class="card">
        <div class="card-footer">
           <p class="text-center"> unicaan @ 2020 </p>
        </div>
    </div>
</div>